{% extends "base.html" %} {% load static %}{% block content %}
<div class="container mt-4">
  <h1 class="text-center mt-4">Welcome to Tweet Plateform</h1>
  <a class="btn btn-primary" href="{% url 'tweet_create' %}"
    >Create New Tweet</a
  >
  <div class="container row gap-3 mt-4">
    {% for tweet in tweets %}
    <div class="card" style="width: 25rem">
      <img src="{{tweet.photo.url}}" class="card-img-top mt-2" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{tweet.user.username}}</h5>
        <p class="card-text">{{tweet.text}}</p>
        {% if tweet.user == user %}
        <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary"
          >Edit</a
        >
        <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger"
          >Delete</a
        >
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
