{% extends "base.html" %} {% load static %}{% block content %}
<div class="container mt-4">
  <h1 class="text-center mt-4">Welcome to Viprajay Tweet Plateform</h1>

  <h2>
    {% if form.instance.pk %}Edit Tweet {% else %} Create Tweet {% endif %}
  </h2>
  <form method="POST" enctype="multipart/form-data" class="form">
    {% csrf_token %} {{form.as_p}}
    <button class="btn btn-warning" type="submit">Submit</button>
  </form>
  <a href="{% url 'tweet_list' %}">Back to Tweet list</a>
</div>
{% endblock content %}
